h1 {
    margin-top: 0;
}           
#First-paragraph {
   font-size: 40px;
   margin-top: 0;
}

#First-paragraph:hover {
   font-size: 50px;
}

p {
   color:rgb(53, 37, 0)
}
.lol {
   color: rgb(56, 41, 0);
   font-weight:bold; 
   font-size: 30px;
}
#header {
   width: 100%;
   height: 150px;
   background-color: rgb(255, 219, 183); 
}
#sidebar {
    width: 30%;
    height: 600px;
    background-color: rgb(255, 180, 104);
    float: left;
}
#content {
    width: 70%;
    height: 600px;
    background-color: rgb(144, 113, 81);
    margin-left: 30%;
}
#footer {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 219, 183);
}

img {
    width: 450px;
}

.latvia {
    width: 450px;
    height: 280px;
}

li:hover {
    text-decoration: underline;
}

.image-1 {
    width: 30px;
    position: absolute;
    top: 110px;
    left: 190px;
    transition: opacity 5s, transform 3s;
}

.image-1:hover {
    opacity: 20%;
    transform: rotate(360deg) scale(2);
    
}

.image-2 {
    width: 50px;
    position: absolute;
    top: 180px;
    left: 350px;
    transition: top 1s;
}

.image-2:hover {
    top: 140px;
    transform: scale(1.5);
}

.map {
    position: relative;

}

.balloon {
    width: 30px;
    top: 0px;
    left: 0px;
    position: absolute;
    animation-name: go;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes go {
    from {
        top: 0px;
        left: 0px;
    }
    
    25% {
        top: 0px;
        left: 400px;
    }
    
    50% {
        top: 200px;
        left: 400px;
    }

    75% {
        top: 200px;
        left:0px;
    }

    to {
    top: 0px;
    left: 0px;
    }
} 

@media screen and (max-width: 600px) {
    body {
    background-color: olive;
    }
    
    #sidebar {
    display: none;
    }
    
    #content {
    margin-left: 0%;
    width: 100%;
    }
    }
